<p> Hi <%= @user.name %>, </p>
</br>
<p>Welcome to the over-engineered TODO app. Your user account has been created successfully.</p>
<p>This app is being built only to practice and get used to important web dev concepts.</p>
</br>
</br>
<p>Thanks,</p>
<p>The Over-Engineered Todo app team</p>